---
version: "3.7"
services:
  nautobot:
    image: "yourrepo/nautobot-plugins:latest"
    build:
      context: "."
      dockerfile: "Dockerfile-Plugins"
      args:
        PYTHON_VER: "${PYTHON_VER:-3.9}"
    env_file:
      - "local.env"
    ports:
      - "8443:8443"
      - "8080:8080"
    restart: "unless-stopped"
  nautobot-worker:
    image: "yourrepo/nautobot-plugins:latest"
    build:
      context: "."
      dockerfile: "Dockerfile-Plugins"
      args:
        PYTHON_VER: "${PYTHON_VER:-3.9}"
    env_file:
      - "local.env"
    restart: "unless-stopped"
  celery_worker:
    image: "yourrepo/nautobot-plugins:latest"
    build:
      context: "."
      dockerfile: "Dockerfile-Plugins"
      args:
        PYTHON_VER: "${PYTHON_VER:-3.9}"
    env_file:
      - "local.env"
    restart: "unless-stopped"
