# ---------------------
# PYTHON_VER is used for which version of Python to use. Check hub.docker.com for the available versions
# ---------------------
PYTHON_VER=3.9

# This should be limited to the hosts that are going to be the web app.
# https://docs.djangoproject.com/en/3.2/ref/settings/#allowed-hosts
NAUTOBOT_ALLOWED_HOSTS=*
NAUTOBOT_CHANGELOG_RETENTION=0
NAUTOBOT_CONFIG=/opt/nautobot/nautobot_config.py
NAUTOBOT_DB_HOST=db
NAUTOBOT_DB_NAME=nautobot
NAUTOBOT_DB_PASSWORD=decinablesprewad
NAUTOBOT_DB_USER=nautobot
NAUTOBOT_MAX_PAGE_SIZE=0
NAUTOBOT_NAPALM_TIMEOUT=5

# NAUTOBOT REDIS SETTINGS
# When updating NAUTOBOT_REDIS_PASSWORD, make sure to update the password in
# the NAUTOBOT_CACHEOPS_REDIS line as well!
#
NAUTOBOT_REDIS_HOST=redis
NAUTOBOT_REDIS_PASSWORD=decinablesprewad
NAUTOBOT_CACHEOPS_REDIS=redis://:decinablesprewad@redis:6379/1
NAUTOBOT_REDIS_PORT=6379
# Uncomment REDIS_SSL if using SSL
# NAUTOBOT_REDIS_SSL=True
NAUTOBOT_SECRET_KEY=012345678901234567890123456789012345678901234567890123456789
# Needed for Postgres should match the values for Nautobot above
PGPASSWORD=decinablesprewad
POSTGRES_DB=nautobot
POSTGRES_PASSWORD=decinablesprewad
POSTGRES_USER=nautobot

# Needed for MariaDB, should match the values for Nautobot above
MARIADB_USER=nautobot
MARIADB_PASSWORD=decinablesprewad
MARIADB_DATABASE=nautobot
MARIADB_ROOT_PASSWORD=decinablesprewad

NAUTOBOT_HIDE_RESTRICTED_UI=True
NAUTOBOT_LOG_LEVEL=WARNING

NAUTOBOT_CREATE_SUPERUSER=false
NAUTOBOT_SUPERUSER_NAME=admin
NAUTOBOT_SUPERUSER_EMAIL=admin@example.com
NAUTOBOT_SUPERUSER_PASSWORD=admin
NAUTOBOT_SUPERUSER_API_TOKEN=0123456789abcdef0123456789abcdef01234567